@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */

body {
  background-color: #424242;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
}

* {
  margin: 0;
  font-family: "Quicksand";
}

.content {
  height: 100%;
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
}

.menu {
  display: flex;
  padding: 20px;
  border-bottom: 2px solid #212121;
  background-color: #2f2f2f;
}
.menu h1 {
  color: rgb(240, 248, 255);
}
.options {
  display: flex;
  max-height: 45px;
  margin-left: auto;
}
.options button {
  font-size: 15px;
  font-weight: bold;
  margin-left: 16px;
  padding: 12.5px;
  background-color: #2f2f2f;
  color: rgb(240, 248, 255);
  border: none;
  text-decoration: none;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 8px;
}

.options button:hover {
  background-color: #424242;
  color: rgb(240, 248, 255);
}

/* sliders */

.slider1, .slider2  {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: rgb(240, 248, 255);
  margin-left: 16px;
  max-width: 150px;
  font-weight: bold;
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 150px;
  height: 15px;
  border-radius: 10px;  
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  margin-top: 4px;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%; 
  background: #676767;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #676767;
  cursor: pointer;
}

/* array */

.visual {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 700px;  /* Max height for bars */
  margin-top: auto;
  margin-bottom: 20px;
}

.array-bars {
  display: flex;
  align-items: flex-end;
  height: 100%;
  width: 90%;
}

.array-bar {
  background-color: rgb(240, 248, 255);
  margin-bottom: none;
}